package ${package.Controller};

import ${package.Entity}.${entity};
import ${package.Service}.${table.serviceName};
import ${cfg.queryParamPath};
import ${cfg.queryVoPath};
import ${cfg.apiResult};
#if(${superControllerClassPackage})
import ${superControllerClassPackage};
#end
#if(${swagger2})
import io.swagger.annotations.Api;
import io.swagger.annotations.ApiOperation;
#end
import lombok.extern.slf4j.Slf4j;
import org.apache.shiro.authz.annotation.RequiresPermissions;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.*;


#if(${cfg.paramValidation})
import javax.validation.Valid;
#end

import ${cfg.paging};
import ${cfg.idParamPath};

/**
 * <pre>
 * $!{table.comment} 前端控制器
 * </pre>
 *
 * @author ${author}
 * @since ${date}
 */
@Slf4j
#if(${restControllerStyle})
@RestController
#else
@Controller
#end
@RequestMapping("/${cfg.entityObjectName}")
#if(${swagger2})
@Api("$!{table.comment} API")
#end
#if(${kotlin})
class ${table.controllerName}#if(${superControllerClass}) : ${superControllerClass}()#end

#else
#if(${superControllerClass})
public class ${table.controllerName} extends ${superControllerClass} {
#else
public class ${table.controllerName} {
#end

    @Autowired
    private ${table.serviceName} ${cfg.serviceObjectName};

#if(${cfg.generatorStrategy} != 'SIMPLE')
    /**
     * 添加$!{table.comment}
     */
    @PostMapping("/add")
#if(${cfg.requiresPermissions})
    @RequiresPermissions("$!{cfg.colonTableName}:add")
#end
#if(${swagger2})
    @ApiOperation(value = "添加${entity}对象", notes = "添加$!{table.comment}", response = ResponseWrapper.class)
#end
    public ResponseWrapper<Boolean> add${entity}(#if(${cfg.paramValidation})@Valid#end @RequestBody ${entity}Dto ${cfg.entityObjectName}Dto) throws Exception {
#if(${cfg.generatorStrategy} == 'ALL')
        boolean flag = ${cfg.serviceObjectName}.save${entity}(${cfg.entityObjectName});
#else
        boolean flag = ${cfg.serviceObjectName}.save(${cfg.entityObjectName});
#end
        return ResponseWrapper.success(flag);
    }

    /**
     * 修改$!{table.comment}
     */
    @PutMapping("/update")
#if(${cfg.requiresPermissions})
    @RequiresPermissions("$!{cfg.colonTableName}:update")
#end
#if(${swagger2})
    @ApiOperation(value = "修改${entity}对象", notes = "修改$!{table.comment}", response = ResponseWrapper.class)
#end
    public ResponseWrapper<Boolean> update${entity}(#if(${cfg.paramValidation})@Valid#end @RequestBody ${entity}Dto ${cfg.entityObjectName}Dto) throws Exception {
#if(${cfg.generatorStrategy} == 'ALL')
        boolean flag = ${cfg.serviceObjectName}.update${entity}(${cfg.entityObjectName});
#else
        boolean flag = ${cfg.serviceObjectName}.updateById(${cfg.entityObjectName});
#end
        return ResponseWrapper.success(flag);
    }

    /**
     * 删除$!{table.comment}
     */
    @DeleteMapping("/delete/{id}")
#if(${cfg.requiresPermissions})
    @RequiresPermissions("$!{cfg.colonTableName}:delete")
#end
#if(${swagger2})
    @ApiOperation(value = "删除${entity}对象", notes = "删除$!{table.comment}", response = ResponseWrapper.class)
#end
    public ResponseWrapper<Boolean> delete${entity}(@PathVariable("id") Long id) throws Exception {
#if(${cfg.generatorStrategy} == 'ALL')
        boolean flag = ${cfg.serviceObjectName}.delete${entity}(id);
#else
        boolean flag = ${cfg.serviceObjectName}.removeById(id);
#end
        return ResponseWrapper.success(flag);
    }

    /**
     * 获取$!{table.comment}
     */
    @GetMapping("/info/{id}")
#if(${cfg.requiresPermissions})
    @RequiresPermissions("$!{cfg.colonTableName}:info")
#end
#if(${swagger2})
    @ApiOperation(value = "获取${entity}对象详情", notes = "查看$!{table.comment}", response = ${entity}QueryVo.class)
#end
    public ResponseWrapper<${entity}Dto> get${entity}(@PathVariable("id") Long id) throws Exception {
        ${entity}Dto ${cfg.entityObjectName}Dto = ${cfg.serviceObjectName}.get${entity}ById(id);
        return ResponseWrapper.success(${cfg.entityObjectName}QueryVo);
    }

    /**
     * $!{table.comment}分页列表
     */
    @PostMapping("/pageList")
#if(${cfg.requiresPermissions})
    @RequiresPermissions("$!{cfg.colonTableName}:page")
#end
#if(${swagger2})
    @ApiOperation(value = "获取${entity}分页列表", notes = "$!{table.comment}分页列表", response = ${entity}QueryVo.class)
#end
    public ResponseWrapper<Paging<${entity}Dto>> get${entity}PageList(#if(${cfg.paramValidation})@Valid#end @RequestBody ${entity}QueryParam ${cfg.entityObjectName}QueryParam) throws Exception {
        Paging<${entity}> paging = ${cfg.entityObjectName}Service.get${entity}PageList(${cfg.entityObjectName}QueryParam);
        // new page
        IPage<${entity}Dto> newPaging = new Page<>();
        newPaging.setTotal(paging.getTotal());
        newPaging.setRecords(${entity}Convert.to${entity}DtoList}(paging.getRecords()));
        return ResponseWrapper.success(newPaging);
    }
#end

}

#end