package ${cfg.convertPackage};

import ${package.Entity}.${entity};
import ${cfg.dtoPath};
#if(${entityLombokModel})
import com.baomidou.mybatisplus.annotation.FieldFill;
import com.baomidou.mybatisplus.annotation.TableField;
import com.baomidou.mybatisplus.annotation.TableLogic;
import lombok.Data;
import lombok.experimental.Accessors;
import org.assertj.core.util.Lists;
#end
import java.io.Serializable;
import io.geekidea.springbootplus.util.CommonUtils;
import java.util.Date;
import java.util.List;
import java.util.Objects;
import com.google.common.collect.Lists;
import java.util.stream.Collectors;

/**
 * <pre>
 * $!{table.comment} 对象转换工具
 * </pre>
 *
 * @author ${author}
 * @date ${date}
 */

public class ${entity}Converter {

    public static ${entity} to${entity}(${entity}AddParam dto) {
        ${entity} entity = new ${entity}();
        if (Objects.isNull(dto)) {
            return null;
        }
        #foreach($field in ${table.fields})
            #if(!${field.keyIdentityFlag})
            ## ----------  BEGIN 字段循环遍历  ----------
                    entity.set${field.capitalName}(dto.get${field.capitalName}());
            ## ----------  END 字段循环遍历  ----------
            #end
        #end
        return entity;
    }

    public static ${entity}AddVo to${entity}AddVo(boolean flag) {
        return new ${entity}AddVo().setAdded(flag);
    }

    public static ${entity}UpdateVo to${entity}UpdateVo(boolean flag) {
        return new ${entity}UpdateVo().setAdded(flag);
    }

    public static ${entity} to${entity}QueryVo(${entity} entity) {
        ${entity}QueryVo query = new ${entity}();
        if (Objects.isNull(dto)) {
            return null;
        }
        #foreach($field in ${table.fields})
            #if(!${field.keyIdentityFlag})
            ## ----------  BEGIN 字段循环遍历  ----------
                query.set${field.capitalName}(entity.get${field.capitalName}());
            ## ----------  END 字段循环遍历  ----------
            #end
        #end
        return query;
    }

    public static ${entity} to${entity}QueryListVo(${entity} ${cfg.entityObjectName}) {
        ${entity} entity = new ${entity}();
        if (Objects.isNull(dto)) {
            return null;
        }
        #foreach($field in ${table.fields})
            #if(!${field.keyIdentityFlag})
            ## ----------  BEGIN 字段循环遍历  ----------
                entity.set${field.capitalName}(dto.get${field.capitalName}());
            ## ----------  END 字段循环遍历  ----------
            #end
        #end
        return entity;
    }
}