package ${cfg.convertPackage};

import ${package.Entity}.${entity};
import ${cfg.dtoPath};
#if(${entityLombokModel})
import com.baomidou.mybatisplus.annotation.FieldFill;
import com.baomidou.mybatisplus.annotation.TableField;
import com.baomidou.mybatisplus.annotation.TableLogic;
import lombok.Data;
import lombok.experimental.Accessors;
import org.assertj.core.util.Lists;
#end
import java.io.Serializable;
import io.geekidea.springbootplus.util.CommonUtils;
import java.util.Date;
import java.util.List;
import java.util.Objects;
import com.google.common.collect.Lists;
import java.util.stream.Collectors;

/**
 * <pre>
 * $!{table.comment} 对象转换工具
 * </pre>
 *
 * @author ${author}
 * @date ${date}
 */

public class ${entity}Convertor {

    public static ${entity}Dto to${entity}Dto(${entity} entity) {
            ${entity}Dto dto = new ${entity}Dto();
        if (Objects.isNull(entity)) {
            return null;
        }
        #foreach($field in ${table.fields})
            #if(!${field.keyIdentityFlag})
            ## ----------  BEGIN 字段循环遍历  ----------
                dto.set${field.capitalName}(entity.get${field.capitalName}());
            ## ----------  END 字段循环遍历  ----------
            #end
        #end
        return dto;
    }

    public static ${entity} to${entity}(${entity}CreateParam dto) {
        ${entity} entity = new ${entity}();
        if (Objects.isNull(dto)) {
            return null;
        }
        #foreach($field in ${table.fields})
            #if(!${field.keyIdentityFlag})
            ## ----------  BEGIN 字段循环遍历  ----------
                    entity.set${field.capitalName}(dto.get${field.capitalName}());
            ## ----------  END 字段循环遍历  ----------
            #end
        #end
        return entity;
    }

    public static List<${entity}Dto> to${entity}DtoList(List<${entity}> entities) {
        if (CommonUtils.empty(entities)) {
            return Lists.newArrayList();
        }
        return entities.stream().map(${entity}Convert::to${entity}Dto).collect(Collectors.toList());
    }
}