package ${package.ServiceImpl}import com.baomidou.mybatisplus.core.metadata.IPage;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import lombok.extern.slf4j.Slf4j;
import org.springframework.stereotype.Service;
import org.springframework.transaction.annotation.Transactional;

import java.io.Serializable;

;
${package.Entity}
        .${entity};
    ${package.Mapper}
        .${table.mapperName};
    ${package.Service}
        .${table.serviceName};
    ${cfg.queryParamPath}
        ;
    ${cfg.queryVoPath}
        ;
    ${superServiceImplClassPackage}
        ;
    ${cfg.paging}
        ;


/**
 * <pre>
 * $!{table.comment} 服务实现类
 * </pre>
 *
 * @author ${author}
 * @since ${date}
 */
@Slf4j
@Service
@Transactional
public class Admin${table.serviceImplName} implements Admin${table.serviceName} {

    @Override
    public ${entity}AddResultDto add${entity}(${entity} paramDto,AdminDTO currentUser) {
        // step1 封装管理员信息 添加操作人邮箱、id、名称
        paramDto.setOperateId(currentUser.getUid());
        paramDto.setOperateName(currentUser.getUsername());
        paramDto.setOperateEmail(currentUser.getEmail());
        // step2 查询信息
        ${cfg.entityObjectName}QueryParamDto query = new ${cfg.entityObjectName}QueryParamDto();
        ResponseWrapper<${entity}QueryListResultDto> ${cfg.entityObjectName}QueryListResultDtoResponseWrapper = seagullDataServiceClient.get${entity}List(query);
        // step3 重复性校验
        if (Objects.nonNull(${cfg.entityObjectName}QueryListResultDtoResponseWrapper.getData())) {
            // TODO 补充提示信息
            throw ExceptionUtil.invalidParam(String.format());
        }
        // step4 保存
        ResponseWrapper<${entity}AddResultDto> wrapper = seagullDataServiceClient.addTkd(tkdDto);
        // step5 删除缓存
        // TODO 添加缓存key
        redisUtil.del(String.join(RedisConstant.SEPARATOR, , ));
        return flag.getData();
    }

    @Override
    public boolean update${entity}(${entity}UpdateParamDto paramDto,AdminDTO currentUser) {
        ResponseWrapper<Boolean> flag;
        // 添加操作人邮箱、id、名称
        paramDto.setOperateId(currentUser.getUid());
        paramDto.setOperateName(currentUser.getUsername());
        paramDto.setOperateEmail(currentUser.getEmail());
        flag = seagullDataServiceClient.delete${entity}(paramDto.getRecordId());
        if (flag.getData()) {
            seagullDataServiceClient.add${entity}(paramDto);
        }
        // 删除缓存
        redisUtil.del(String.join(RedisConstant.SEPARATOR, RedisConstant.XP_SEAGULL_XXX, ));
        return flag.getData();
    }

    @Override
    public boolean delete${entity}(Long id) {
        return super.removeById(id);
    }

    @Override
    public ${entity} get${entity}ByPk(Serializable id) {
        return getById(id);
    }

    @Override
    public IPage<${entity}> get${entity}PageList(${entity}QueryParam ${cfg.entityObjectName}QueryParam) {
        ResponseWrapper<Page<TkdDto>> tkdPageWrapper;
        try {
        tkdPageWrapper = seagullDataServiceClient.getTkdPageList(tkdQueryParam);
        } catch (Exception e) {
        Log.error("getTkdPageList", e);
        throw ExceptionUtil.dataServiceError("getTkdPageList");
        }
        return tkdPageWrapper.getData();
    }

}
